body {
  font-family: system-ui, sans-serif;
  min-width: 280px;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

/* Main title and logo */
h1 {
  font-size: 16px;
  margin-bottom: 8px;
  font-family: "Montserrat", "Open Sans", sans-serif;
}

#title-no {
  color: #2d2d2d;
  font-weight: bold;
}

#title-thanks {
  color: #2f21c6;
  font-weight: medium;
}

.container-btn {
  display: flex;
  max-width: 40px;
  justify-content: space-between;
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  padding: 2px;
  min-height: 10px;
  background-color: #d7d7d7;
}

.btn-toggle {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50px;
  background-color: #d7d7d7;
}

.enabled {
  background-color: #2f21c6;
}

.neutal {
  background-color: #d7d7d7;
}

.disabled {
  background-color: #b4b3b3;
}

.input {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  transition-duration: 0.5s;
}

.input:focus {
  outline: none;
  border-color: #2f21c6;
  background-color: #eeeeee;
}

form {
  display: flex;
  gap: 5px;
}

input {
  flex: 1;
  padding: 4px;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  max-height: 200px;
  overflow-y: auto;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  border-bottom: 1px solid #eee;
}

li button {
  background: none;
  border: none;
  color: red;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
}

#blacklist {
  height: 120px;
  overflow-y: scroll;
  background-color: #f5f5f5;
  border-radius: 5px;
}

#blacklist li {
  padding: 6px;
  border-bottom: 1px solid #d9d9d9;
  font-family: "Open Sans", "Roboto", sans-serif;
}

.btn-save {
  background-color: #434343;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition-duration: 0.3s;
  padding: 2px 8px;
}

.btn-save:hover {
  background-color: #2d2d2d;
}

.btn-apply {
  background-color: #2f21c6;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition-duration: 0.2s;
  padding: 4px 8px;
}
.btn-apply:hover {
  background-color: #3a2cc9;
  color: #fff;
}

.btn-disabled {
  background-color: #b4b3b3;
  border: none;
  border-radius: 5px;
  transition-duration: 0.2s;
  padding: 4px 8px;
}

.blacklist-title {
  color: #4a4a4a;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid #f0f0f0;
}
